<?xml version="1.0" encoding="UTF-8"?>
<?define UpgradeCode="ABEA3314-D80D-4A6C-A55D-4DD6FEAC913B"?>
<?define Version="0.1.20701.2"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="BuildXL" Language="1033" Version="$(var.Version)" Manufacturer="Microsoft Corporation" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade AllowSameVersionUpgrades="yes" 
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed. If you are sure you want to downgrade, remove the existing installation via Programs and Features." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="BuildXL" Level="1">
      <ComponentGroupRef Id="BuildXL.NuGet" />
      <ComponentGroupRef Id="BuildXL.ShellIntegration" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />

    <Icon Id="BuildXL.ico" SourceFile="Resources\BuildXL.ico"/>
    <Property Id="ARPPRODUCTICON" Value="BuildXL.ico" />

    <WixVariable Id="WixUIBannerBmp" Value=".\Resources\Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value=".\Resources\Dialog.bmp" />
    <WixVariable Id="WixUIExclamationIco" Value=".\Resources\warning.ico" />
    <WixVariable Id="WixUILicenseRtf" Value=".\Resources\license.rtf" />
    <WixVariable Id="WixUIInfoIco" Value=".\Resources\info.ico" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="BuildXL" />
      </Directory>
    </Directory>

    <CustomActionRef Id="WixBroadcastEnvironmentChange" />
  </Fragment>
</Wix>
