<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="BuildXL" Language="1033" Version="1.0.0.0" Manufacturer="William Kent" UpgradeCode="ca81411a-38b7-4778-ae2e-a3a1f1c27dd8">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="BuildXL" Level="1">
      <ComponentGroupRef Id="BuildXL.NuGet" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="BuildXL">
          <Directory Id="INSTALLFOLDER_SHELLEX" Name="ShellExtension" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
