<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="BuildXL" Language="1033" Version="1.0.0.0" Manufacturer="William Kent" UpgradeCode="ca81411a-38b7-4778-ae2e-a3a1f1c27dd8">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="BuildXL" Level="1">
      <ComponentGroupRef Id="BuildXL.NuGet" />
      <ComponentGroupRef Id="BuildXL.ShellIntegration" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="BuildXL.Setup.UI" />

    <Icon Id="BuildXL.ico" SourceFile="Resources\BuildXL.ico"/>
    <Property Id="ARPPRODUCTICON" Value="BuildXL.ico" />

    <WixVariable Id="WixUIBannerBmp" Value=".\Resources\Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value=".\Resources\Dialog.bmp" />
    <WixVariable Id="WixUIExclamationIco" Value=".\Resources\warning.ico" />
    <WixVariable Id="WixUIInfoIco" Value=".\Resources\info.ico" />
    <UIRef Id="WixUI_InstallDir" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="BuildXL" />
      </Directory>
    </Directory>

    <CustomActionRef Id="WixBroadcastEnvironmentChange" />
  </Fragment>
</Wix>
